doctype html
html
  head
    title= 'WebSockets and Require.js example :)'
    
    script(src='/javascripts/ext/require.js', data-main='/javascripts/main')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
